* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


html{
  scroll-behavior: smooth;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  transition: background-color 0.3s, color 0.3s;
}

.hcontent {
  
  text-align: center;
  background-color: #0e9d9f;
  color: white;  
  font-size: 20px;
  padding: 12px 0;
  margin: 0;
  text-transform: uppercase;
  letter-spacing: 2px;
}

/* Navbar styling */
nav{
  display: flex;
  height: 60px;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 100;
  background: #f054d4;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px 0 100px;
  flex-wrap: wrap;
}
nav .logo{
  color: #000000;
  font-size: 20px;
  font-weight: 600;
   
}
nav ul{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}
nav ul li{
  margin: 0 5px;
}
nav ul li a{
  color: #f2f2f2;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  padding: 8px 15px;
  border-radius: 5px;
  letter-spacing: 1px;
  transition: all 0.3s ease;
}
nav ul li a.active,
nav ul li a:hover{
  color: #111;
  background: #fff;
}
nav .menu-btn i{
  color: #fff;
  font-size: 22px;
  cursor: pointer;
  display: none;
}
input[type="checkbox"]{
  display: none;
}
@media (max-width: 1000px){
  nav{
    padding: 0 30px 0 30px;
    position: fixed;
    z-index: 100;
    
  }
}
@media (max-width: 920px) {
  nav .menu-btn i{
    display: block;
  }
  #click:checked ~ .menu-btn i:before{
    content: "\f00d";
  }

 
  nav ul{
    position: fixed;
    top: 80px;
    left: -100%;
    background: #111;
    height: 100vh;
    width: 100%;
    text-align: center;
    display: block;
    transition: all 0.3s ease;
  }
  #click:checked ~ ul{
    left: 0;
  }
  nav ul li{
    width: 100%;
    margin: 40px 0;
  }
  nav ul li a{
    width: 100%;
    margin-left: -100%;
    display: block;
    font-size: 20px;
    transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  #click:checked ~ ul li a{
    margin-left: 0px;
  }
  nav ul li a.active,
  nav ul li a:hover{
    background: none;
    color: cyan;
  }
}



/*Introduction styling */
.container {
  display: flex;
  flex-wrap: wrap;
  background-color: #ffb;
  justify-content: center;
  align-items: center;
  height: 100vh;
  
  padding: 20px;
}

#intro {
  margin-top: 10%;
  flex: 1;
  padding: 20px;
  color: #333;
  max-width: 600px;
  text-align: left;
}

#name {
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 10px;
}

#iam {
  font-size: 2.5rem;
  font-weight: 400;
  margin-bottom: 15px;
}

.namc {
  color: #007bff;
}

#role {
  font-size: 2rem;
  font-weight: 500;
  color: #555;
  margin-bottom: 20px;
  color: #16f2b3;
}

#txt {
  margin-top: 7px;
  font-size: 1.2rem;
  color: #666;
  line-height: 1.6;
  margin-bottom: 20px;
}

.con {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 4%;
  margin-left: 1%;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

.con:hover {
  background-color: #0056b3;
}

.img {

  flex: 1;
  max-width: 300px;
  margin: 10px;
  height: 60%;
  padding-top: 20px;
}

#imag {
  margin-left: 60%;
  margin-top: 10%;
  width: 100%;
  height: 100%;
  border-radius: 20%;
  max-width: 500px;
  object-fit: cover;
}

.social-icon {
  margin-top: 20px;
}

.social-icon a {
  margin: 0 10px;
  font-size: 2rem;
  transition: color 0.3s;
}

.social-icon a.github {
  color: #333;
}



.social-icon a.instagra {
  color: #e4405f;
}



.social-icon a.telegra {
  color: #0088cc;
}



@media (max-width: 768px) {
  .container {
      flex-direction: column;
      justify-content: center;
      text-align: center;
      padding-top: 10px;
  }

  .img {
      margin-top: 20%;
      order: -1;
      margin-bottom: 10px;
      max-width: 300px;
  }
  #imag{
      margin-left: 0;
  }

  #intro {
      margin-right: 0px;
  }

  #name {
      font-size: 2rem;
  }

  #iam {
      font-size: 1.5rem;
  }

  #role {
      font-size: 1.2rem;
  }

  #txt {
      font-size: 0.9rem;
  }

  .con {
      font-size: 1.1rem;
      padding: 12px 24px;
      margin-top: 10%;
  }
}

@media (min-width: 769px) {
  .img {
      margin-right: 100px;
      height: 60%;
  }

  #intro {
      margin-right: 0;
      max-width: 600px;
      text-align: left;
  }

  #name {
      font-size: 3rem;
  }

  #iam {
      font-size: 2.5rem;
  }

  #role {
      font-size: 2rem;
  }

  #txt {
      font-size: 1.2rem;
  }

  /* Move intro to the left side */
  .container {
      justify-content: flex-start;
  }

  #intro {
      margin-left: 6%;
  }
}



/* About Me Styling */
#about {
 
  height: 95vh; 
  padding: 50px 20px;
  background-color: #fff;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.aboutm {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.ima {
  
  flex: 1 1 300px;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

#images {
  width: 100%;
  max-width: 250px;
  height: auto;
  object-fit: cover;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

.abinfo {
  flex: 2 1 450px;
  padding-left: 20px;
  font-size: 1rem;
  line-height: 1.8;
  color: #555;
  text-align: center;
}

#abme {
  font-size: 1.2rem;
  color: #333;
  margin-top: 20px;
  font-weight: 400;
}

.skills {
  margin-top: 40px;
  font-size: 1.2rem;
  font-weight: 600;
  color: #2a9d8f;
}

.tools {
  font-size: 1rem;
  margin-top: 20px;
  color: #555;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .aboutm {
    flex-direction: column;
    align-items: center;
  }

  .ima {
   
    margin-bottom: 20px;
  }

  #images {
    width: 80%;
    max-width: 200px;
  }

  .abinfo {
    padding-left: 0;
    text-align: center;
  }
}

@media (max-width: 480px) {
  h1 {
    font-size: 2rem;
  }

  .aboutm {
    padding: 0 10px;
  }

  .abinfo {
    font-size: 1rem;
    padding-left: 0;
    text-align: center;
  }

  #abme {
    font-size: 1.1rem;
  }
}

/* Skills Section styling */
#skills {
  text-align: center;         
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  margin: 20px auto;
  width: 90%;
  max-width: 900px;
  
}

#skill {
  font-size: 2.5rem;
  color: #333;
  margin-bottom: 40px;
  text-transform: uppercase;
}

.skill {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px;
}

.front, .back, .database {
  width: 30%;
  background-color: #f1f1f1;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.front h2, .back h2, .database h2 {
  font-size: 1.8rem;
  color: #007bff;
  margin-bottom: 15px;
  text-transform: uppercase;
}

.front ul, .back ul, .database ul {
  list-style: none;
  padding: 0;
}

.front li, .back li, .database li {
  font-size: 1.1rem;
  margin: 15px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.front i, .back i, .database i {
  font-size: 3rem;
  margin-bottom: 10px;
  color: #007bff;
}

.front li p, .back li p, .database li p {
  font-size: 1.1rem;
  color: #555;
}

@media (max-width: 768px) {
  .front, .back, .database {
      width: 100%;
  }
  
}

@media (max-width: 600px) {
  #skill {
      font-size: 2rem;
     
  }

}




.experience-section {
  max-width: 600px; 
  margin: 20px auto;
  padding: 20px;
  background: white;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center;
  color: #333;
  margin-bottom: 20px; 
}

.experience-container {
  display: flex;
  flex-direction: column;
  gap: 20px; 
}

.experience-card {
  background: #e9ecef;
  border-radius: 8px;
  padding: 15px;
  transition: transform 0.3s, box-shadow 0.3s; 
}

.experience-card:hover {
  transform: scale(1.02);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2); 
}

h3 {
  margin: 0;
  color: #007bff; 
}

h4 {
  margin: 5px 0;
  color: #555; 
}

.date {
  font-size: 0.9em;
  color: #888;
}

p {
  margin: 10px 0;
  line-height: 1.5; 
}

@media (max-width: 600px) {
  .experience-section {
      padding: 15px; 
  }

  .experience-card {
      padding: 10px; 
  }
}



/* Education Section Styling */
.stat-title {
  text-align: center;
  margin: 2rem 0;
  font-size: 2rem;
  font-weight: 700;
  color: #5C6BC0;
}

.education {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem 1rem;
  margin: 0 auto;
  max-width: 800px;
}

.education-item {
  position: relative;
  padding-left: 3rem;
  margin-bottom: 1rem;
  width: 100%;
  background-color: #ffffff;
  padding: 0.8rem 1rem; 
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.education-item:nth-child(odd) {
  background-color: #e8f1f5;
}

.e-duration {
  padding: 0.3rem 0.8rem;
  background-color: #fafafa;
  border-radius: 20px;
  display: inline-block;
  font-size: 0.9rem;
  text-transform: uppercase;
  font-weight: 500;
  color: #333;
}

.education h5 {
  padding: 0.5rem 0; 
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 600;
  color: #5C6BC0;
}

.education h5 span {
  color: #FF4081;
  font-weight: 500;
  font-size: 1.3rem;
}

.education p {
  color: #333;
  font-size: 1rem;
  line-height: 1.5;
  margin-top: 0.2rem; 
}

.education p br {
  display: block;
  margin-bottom: 0.5rem;
}


@media (max-width: 768px) {
  .education {
      padding: 1.5rem;
  }

  .education-item {
      padding-left: 1.5rem;
      padding-right: 1.5rem;
  }

  .education h5 {
      font-size: 1.2rem;
  }

  .education p {
      font-size: 0.9rem;
  }
}


.education-item:hover {
  transform: translateY(-5px);
  transition: transform 0.3s ease;
}





@media (max-width: 768px) {
  #footer-content {
    flex-direction: column; 
    gap: 15px;
  }

  #icons {
    flex-wrap: wrap;
    gap: 20px;
  }
}



/* project styling */

#content {
  text-align: center;
  background-color: #0e9f6f;
  color: white;  
  font-size: 20px;
  padding: 12px 0;
  margin: 0;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.pname {
  color: #2C3E50;
  font-size: 20px;
  font-weight: bold;
  margin: 0;
}

.pcontainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;  
  padding: 20px;
  margin-left: 10%;
  margin-right: 10%;
}

.cardp {
  background-color: #00B8B8;
  border-radius: 15px;
  width: 280px;
  height: 300px;
  overflow: hidden;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
  margin: 15px;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.cardp:hover {
  transform: scale(1.05);
  box-shadow: 0 12px 20px rgba(0, 0, 0, 0.15);
}

img {
  width: 100%;
  height: 160px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 15px;
}

.buttonp {
  width: 90%;
  padding: 12px;
  background-color: #D84B94;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.buttonp:hover {
  background-color: #BA4F81;
}

@media (max-width: 768px) {
  .pcontainer {
    margin-left: 5%;
    margin-right: 5%;
  }

  .cardp {
    width: 90%;
    height: auto;
  }

  #content {
    font-size: 18px;
  }

  .pname {
    font-size: 18px;
  }

  .buttonp {
    font-size: 16px;
  }
}

@media (max-width: 480px) {
  #content {
    font-size: 16px;
  }

  .pname {
    font-size: 16px;
    margin-bottom: 4px;
  }

  .buttonp {
    font-size: 14px;
  }
}

/*Contact form styling */

form {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 5%;
  margin-bottom: 5%;
  width: 90%; 
  max-width: 400px;
  height: auto;
  background-color: black;
  display: flex;
  flex-direction: column;
  border: 3px solid #c30f0f;
  border-radius: 10px;
  box-shadow: 0px 2px 3px #fff;
  padding: 20px;
  box-sizing: border-box;
}

.samp {
  width: 100%; 
  height: 40px;
  padding: 10px;
  margin-right: 10px;
  border-radius: 5px;
  margin-left: 0;
  background-color: #fff;
}

label {
  margin: 10px 0;
  color: #6ef216;
  font-size: 1.1rem; 
}

#sub {
  font-size: 20px;
  margin-top: 20px;
  padding: 12px;
  width: 100%; 
  background-color: #f7df1e;
  border-radius: 10px;
  cursor: pointer;
  text-align: center;
}

#contact {
  font-size: 30px;
  text-align: center;
  margin-top: 10%;
  margin-bottom: 10%;
  color: #0fc3c3;
}

@media (max-width: 768px) {
  form {
    width: 90%; 
    margin-top: 10%;
  }

  #contact {
    font-size: 24px; 
  }

  .samp {
    height: 40px;
    padding: 12px; 
  }

  #sub {
    font-size: 18px;
    padding: 12px;
  }
}

@media (max-width:768px) {
  form {
    margin-top: 15%; 
    width: 90%; 
  }

  #contact {
    font-size: 22px; 
  }

  .samp {
    height: 35px;
    padding: 10px;
  }

  #sub {
    font-size: 16px;
    padding: 10px;
  }
}

/* footer styling */

footer {
  margin-top: 20px;
  background: linear-gradient(to right, #3b8d99, #6b8d6b); 
  width: 100%;
  padding: 20px 0;
  color: white;
}

#footer-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-bottom: 30px; 
}

a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  transition: color 0.3s ease, transform 0.3s ease;
}



#icons {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

#icons i {
  font-size: 20px;
  padding: 10px;
  border-radius: 50%;
  transition: transform 0.3s ease;
}
#icons i:hover {
  transform: scale(1.2);
}

/* Instagram */
.instagram {
  background: linear-gradient(45deg, #f94e8b, #ff6a00);
  color: white;
}

/* Facebook */
.facebook {
  background-color: #1877F2;
  color: white;
}

/* LinkedIn */
.linkedin {
  background-color: #0A66C2;
  color: white;
}

/* YouTube */
.youtube {
  background-color: #FF0000;
  color: white;
}

/* Telegram */
.telegram {
  background-color: #0088cc;
  color: white;
}

#copy {
  text-align: center;
  margin-top: 50px;
  font-size: 14px;
}


@media (max-width: 768px) {
 
  #footer-content {
    flex-direction: column; 
    gap: 15px; 
    text-align: center;
  }


  #icons {
    flex-wrap: wrap; 
    gap: 20px; 
  }

  #icons i {
    font-size: 24px; 
    padding: 12px; 
  }

  #copy {
    font-size: 12px; 
    margin-top: 20px; 
  }
}

@media (max-width: 480px) {
 
  #footer-content {
    gap: 10px; 
  }

  #icons {
    gap: 15px; 
  }

  #icons i {
    font-size: 22px;
    padding: 8px; 
  }

  #copy {
    font-size: 0.6rem; 
    margin-top: 15px; 
  }
}
